<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Andamento Prezzi Benzina</title>
    </head>
    <body>
        <div id='chart' class='chart'></div>
        <div>Ultimo aggiornamento: {{ lastUpdate | safe }}</div>
    </body>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        const graphs = {{graphData | safe}};
        const today = new Date();
        const one_month_ago = new Date();
        one_month_ago.setMonth(one_month_ago.getMonth() - 1)
        const layout = {
            title: 'Andamento Prezzi Benzina',
            xaxis: {
                autorange: true,
                {#"range": ['2023-02-10', '2023-02-16'],#}
                rangeslider: {range: [one_month_ago.toString(), today.toString()]},
                type: 'date'
            },
            yaxis: {
                autorange: true,
                {#range: [86.8700008333, 138.870004167],#}
                type: 'linear'
            }
        }

        Plotly.plot('chart', graphs, layout)
    </script>
</html>